# Server configuration
PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_ZmQG8UtDKk4x@ep-royal-rain-a5frpzmj-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=bc5ddfa69cd304639c171d9070e0f66ce71eaa037cd81dffe6d737b1ebf12dda
JWT_EXPIRES_IN="24h"

# Frontend URL for CORS
FRONTEND_URL="http://localhost:3000"
